{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block content %}
<div class="container-fluid h-100 page-container">
    <div class="row text-center bg-white page-title">
        <h1>Shopping Bag</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-8">
            {% if bag_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm ">
                    <thead class="text-black text-center">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col" class="d-none d-sm-table-cell"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Number in bag</th>
                            <th scope="col">Update quantity</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in bag_items %}
                    <div id="item_bag_qty_{{item.product.id}}" class="d-none">{{item.product.stock}}</div>
                    <tr class="text-center">
                        <td class="p-3 w-25 d-none d-sm-table-cell">
                            {% if item.product.image %}
                            <img class="img-fluid img-thumbnail shop-tile rounded" src="{{ item.product.image.url }}"
                                alt="{{item.product.name}}">
                            {% endif %}
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.product.name }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ item.product.price }}</p>
                        </td>

                        <td class="py-3 w-25">


                            <form class="form update-form" method="POST"
                                action="{% url 'adjust_bag' item.product.id  %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn " data-item_id="{{ item.product.id }}"
                                                id="decrement-qty_{{ item.product.id }}">
                                                <span class="icon fs-2">
                                                    <i class="bi bi-patch-minus"></i>
                                                </span>
                                            </button>
                                        </div>

                                        <input class="form-control qty_input fs-4 rounded-3" type="number"
                                            name="quantity" value="{{item.quantity}}" min="0"
                                            max="{{stock_check | stock_left:item.product}}"
                                            data-item_id="{{ item.product.id }}" id="id_qty_{{ item.product.id }}">

                                        <div class="input-group-append">
                                            <button class="increment-qty btn " data-item_id="{{ item.product.id }}"
                                                id="increment-qtybag_{{ item.product.id }}">
                                                <span class="icon fs-2">
                                                    <i class="bi bi-patch-plus"></i>
                                                </span>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                                <p id="stock_qty_{{item.product.id}}" class="d-none">
                                    {{stock_check | stock_left:item.product}}
                                </p>
                            </form>
                            <a class="update-link text-info"><small>Update</small></a>
                            <a class="remove-item text-danger"
                                id="remove_{{ item.product.id }}"><small>Remove</small></a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-end">
                            <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong>
                                more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-end fs-4">
                            <span class="btn  rounded-0 text-uppercase category-icons mt-2">
                                <a href="{% url 'shop' %}">
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                            </span>
                            <span class="btn  rounded-0 text-uppercase category-icons mt-2">
                                <a href="{% url 'checkout' %}">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="bi bi-lock"></i>
                                    </span>
                                </a>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="text-center fs-4 mt-3">Your bag is empty.</p>
            <div class="text-center">
                <span class="btn  rounded-0 text-uppercase category-icons mt-2">
                    <a href="{% url 'shop' %}">
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                </span>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{block.super}}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');

        console.log(form);
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        }
        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}