{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center bg-white">
        Hello
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="table-responsive rounded"></div>
            {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'shop' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}