{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid h-100 page-container">
    <div class="row justify-content-center bg-white">
        <div class="col-12 col-md-6 my-auto text-center">
            <h1>
                Welcome to Cowley Pottery!
            </h1>
            <p>
                Welcome to Cowley Pottery. In the heart of Devon, Helen crafts by hand all pieces from scratch in her
                tiny little studio barely big enough for one person. If you'd like to see recent creations please visit
                the shop. You can also find out more about Helen's journey and craft on the About page.
                <br>
                Feel free to get in contact about any pieces you want but are unavailable and I'll get back to you.
            </p>

        </div>
    </div>
    <div class="row justify-content-center px-2 pb-5">
        <div class="col-12 col-md-4 col-xxl-3 pt-2">
            <div class="tile-image-container">
                <a href="{% url 'about' %}">
                    <img class="img-fluid rounded-3 tile-image img-thumbnail" src="/media/helenwheel2.jpeg" alt="Pottery examples">
                </a>
            </div>
            <div class="tile-text-container px-2 pt-2">
                <h2 class="text-center">
                    <a href="{% url 'about' %}">About</a>
                </h2>
                <p>
                    Cowley Pottery is my passion project with all pieces made by my hands in my little studio.
                    <br>
                    If you'd like to hear more about my story please click here
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 col-xxl-3 pt-2">
            <div class="tile-image-container">
                <a href="{% url 'shop' %}">
                    <img class="img-fluid rounded-3 tile-image img-thumbnail" src="/media/bluemugfade.jpg" alt="Pottery examples">
                </a>
            </div>
            <div class="tile-text-container px-2 pt-2">
                    <h2 class="text-center">
                        <a href="{% url 'shop' %}">Visit the shop</a>
                    </h2>
                <p>
                    In the heart of Devon, Helen crafts by hand all pieces from scratch in her studio. See her latest creations here.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 col-xxl-3 pt-2">
            <div class="tile-image-container">
                <a href="{% url 'commissions' %}">
                <img class="img-fluid rounded-3 tile-image image-top-align img-thumbnail" src="/media/dwarvesfire.JPG"
                    alt="Pottery examples">
                </a>
            </div>
            <div class="tile-text-container px-2 pt-2">
                <h2 class="text-center">
                    <a href="{% url 'commissions' %}">Commissions</a>
                </h2>
                <p>
                    I'm happy to create items that are personalised or follow your specifications. On this page you will
                    find a form to enter you details and request and I will get back to you
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}