@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Rampart+One&family=Varta:wght@300&display=swap');

html {
    height: 100%;
}

body {
    background-color: #d7cdc5;
}

h1 {
    font-family: "Chelsea Market", sans-serif;
}

p {
    font-family: "Varta", sans-serif;
    font-weight: bold;
}

#landing-image{
    background:url(/media/landing_placeholder.jpg);
    background-position: center top;
    background-size: cover;
}

.info-footer{
    background-color: darkslategray;
}

#logo{
    font-family: "Rampart One", san-serif;
    font-size: xx-large;
    color: black;
    font-weight: bolder;
}

.nav-link{
    font-family:"Chelsea Market", sans-serif;
    color:black;
    font-size: large;
}

.tile-image{
    max-height: 300px;
    min-width: 100%;
    overflow:hidden;
    object-fit: cover;
}
