@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Rampart+One&family=Varta:wght@300&display=swap');

html {
    height: 100%;
}

body {
    background-color: #d7cdc5;
}

h1, h2 {
    font-family: "Chelsea Market", sans-serif;
}

p,
td {
    font-family: "Varta", sans-serif;
    font-weight: bold;
}

#landing-image{
    background:url(/media/landing_placeholder.jpg);
    background-position: center top;
    background-size: cover;
}

.info-footer{
    background-color: darkslategray;
}

#logo{
    font-family: "Rampart One", san-serif;
    font-size: xx-large;
    color: black;
    font-weight: bolder;
}

.nav-link{
    font-family:"Chelsea Market", sans-serif;
    color:black;
    font-size: large;
}

.burger-icon{
    font-size: 2rem;
}

.tile-image{
    max-height: 286px;
    height:60%;
    min-width: 100%;
    overflow:hidden;
    object-fit: cover;
}

.shop-tile{
    max-height: 286px;
    height:auto;
    min-width: 100%;
    overflow:hidden;
    object-fit: cover;
}

.image-top-align {
    object-position: top;
}

.tile-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    align-items: center;
    justify-content:center;
}

.tile-title{
    vertical-align: middle;
    background-color: black;
    opacity: 0.8;
}

.tile-title a{
    text-decoration: none;
    color:white;
}


/* footer styles */

footer ul {
    padding-left: 0;
    font-family: "Varta", sans-serif;
    font-weight: bold;
}
footer li {
    list-style: none;
}

/* Change to min width */

@media screen and (max-width: 420px){
    .tile-image{
        height:50%;
    }
}

/* Category icons */

.category-icons {
    width:auto;
    min-width: 7em;
    font-family: "Chelsea Market", sans-serif;
    /* color: black; */
    font-size: large;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    height: auto;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    /* display: block; */
}

.category-icons a{
    text-decoration: none;
    color:black;
}

.category-icons a:hover{
    color:#0d6efd;
}

/* Table style */

.table-line-break{
    background-color: #fff;
    height:2px;
    width:100%;
}

/* Plus/Minus buttons  */

/* .plus-minus{
    border-radius: 50%;
    background-color: #fff;
    width: 25px;
    height: 25px;
} */

/* .message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
} */

.message-container {
    position: fixed;
    top: 4rem;
    right: 3.5vw;
    z-index: 99999;
}

.toast {
    overflow: visible;
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 5px !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .85) !important;
    padding: 0.25rem;
}

.toast-capper {
    height: 2px;
    margin: 0 0.5rem;
}

.img-toast {
    width: auto;
}