<footer>
    <div class="row h-100 justify-content-center bg-white mx-0">
        <div class="col-12 col-md-4 my-auto px-2">
            <h2>
                Cowley Pottery
            </h2>
            <address>
                <div>
                    <ul>
                        <li><a href="mailto:cowleypottery@gmail.com">Email: cowleypottery@gmail.com</a></li>
                        <li>Cowley</li>
                        <li>Kilmington</li>
                        <li>Axminster</li>
                        <li>EX13 7SD</li>
                        <li>
                            <ul>
                                <li class="d-inline-block"><a class="nav-link" href="#"><i class="bi bi-facebook"></i></a>
                                </li>
                                <li class="d-inline-block"><a class="nav-link" href="#"><i class="bi bi-instagram"></i></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </address>

        </div>
        <div class="col-12 col-md-4 my-auto px-2">
            <form>
                <h2>
                    Newsletter
                </h2>
                <p>Sign up</p>
                <input id="newsletter-email" class="newsletter-form" name="email" x-autocompletetype="email"
                    autocomplete="email" type="email" spellcheck="false" placeholder="Email Address">
            </form>
        </div>
    </div>
</footer>