{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row justify-content-center bg-white">

        <div class="col-12 col-md-6 my-auto text-center">
            <h1>
                Welcome to Cowley Pottery
            </h1>
            <p>
                Welcome to Cowley Pottery. In the heart of Devon, Helen crafts by hand all pieces from scratch in her
                tiny little studio barely big enough for one person. If you'd like to see recent creations please visit
                the shop. You can also find out more about Helen's journey and craft on the About page.
                <br>
                Feel free to get in contact about any pieces you want but are unavailable and I'll get back to you.
            </p>

        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-12 col-md-6 col-xxl-4">
            <div class="col-5 col-md-3 col-xl-1 category-icons text-center mx-1 px-0 py-3 mt-2">
                <a href="{% url 'all_products' %}?category=new">New in stock
                </a>
            </div>
            <!-- <div class="card text-bg-dark">
                <img class="img-thumbnail" src="/media/all.jpg" class="card-img" alt="Lots of different pottery">
                <div class="tile-overlay">
                    <div class="tile-title p-2">
                        <a href="{% url 'all_products'%}?category=new">
                            <h6>New in stock</h6>
                        </a>
                    </div>

                </div>
            </div> -->
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-12 col-md-6 col-xxl-4">
            <div class="col-5 col-md-3 col-xl-1 category-icons text-center mx-1 px-0 py-3 mt-2">
                <a href="{% url 'all_products' %}">All products
                </a>
            </div>
            <!-- <div class="card text-bg-dark">
                <img class="img-thumbnail" src="/media/all.jpg" class="card-img" alt="Lots of different pottery">
                <div class="tile-overlay">
                    <div class="tile-title p-2">
                        <a href="{% url 'all_products' %}">
                            <h6>All items</h6>
                        </a>
                    </div>

                </div>
            </div> -->
        </div>
    </div>
    <div class="row justify-content-center px-2">
        {% for category in categories %}



        <div class="col-sm-6 col-md-3 col-xxl-3 pt-2 pb-2">
            <div class="card text-bg-dark  ratio-4x3">
                <img class="img-thumbnail shop-tile rounded-3" src="/media/{{category.image }}" alt="{{category.name}} image">
                <div class="tile-overlay">
                    <div class="tile-title p-2">
                        <a href="{% url 'all_products'%}?category={{category.name}}">
                            <h6>{{category.readable_name}}</h6>
                        </a>
                    </div>
                </div>
            </div>

        </div>



        {% endfor %}

    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{block.super}}
{% endblock %}